body
{
	background: #92bee8; 
	background: linear-gradient(135deg,  #92bee8 37%,#207ce5 70%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92bee8', endColorstr='#207ce5',GradientType=1 ); 
}
header 
{
	background: #34495e;
	border: 1px solid white;
	border-radius: 13px;
	box-shadow: 13px 11px 4px 2px rgba(0,0,0,0.4);
	box-sizing: content-box;
	color: white;
	font: normal 40px "Times New Roman", Monaco, monospace;
	margin: 0px auto;
	margin-top: 90px;
	text-align: center;
	text-overflow: ellipsis;
	text-shadow: 0 0 9px rgba(0,0,255,1);
	width: 570px;
}
#caja 
{
	background-color: white;
	border-radius: 15px;
	box-shadow: inset 0 0 15px black;
	margin: 0 auto;
	margin-top: 30px;
	padding: 40px;
	width: 570px;
}
#cabeza 
{
	background: #0085A5; 
	background: linear-gradient(to right, #0086A6 20%,#28A6C2 50%,#28A6C2 50%,#0086A6 80%,#0085A5 100%);
	border-radius: 50px 50px 0 0;
	border-top: solid 10px;
	border-color: #0085A5;
	box-shadow: 7px 3px 6px 0px rgba(0, 0, 0, 0.4);
	cursor:pointer;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73b1e7', endColorstr='#87bcea',GradientType=1 );
	height: 110px;
	margin: 0 auto;
	position: relative;
	transition: all 0.9s ease;
	width: 65px;
}
#linea_arriba 
{
	background-color: transparent;
	border-left: 14px solid transparent;
	border-right: 0px solid transparent;
	border-top: 20px solid #00738F;
	height: 0;
	margin-left: 14px;
	margin-top: 62px;
	position: absolute;
	width: 21px;
}
#linea_izquierda 
{
	background-color: transparent;
	border-bottom: 0px solid transparent;
	border-left: 12px solid #00738F;
	border-top: 17px solid transparent;
	height: 18px;
	margin-left: 14px;
	margin-top: 68px;
	position: absolute;
	width: 0px;
}
#linea_derecha 
{
	background-color: #00738F;
	height: 22px;
	margin-left: 43px;
	margin-top: 82px;
	position: absolute;
	width: 6px;
}
#linea_abajo 
{
	background-color: #0085A5;
	height: 7px;
	margin: 0 auto;
	margin-top: 103px;
	position: absolute;
	width: 65px;
}
#cabeza:hover 
{
	background: #0085A5; 
	background: linear-gradient(to right, #28A6C2 20%,#0085A5 50%,#0085A5 50%,#28A6C2 80%,#28A6C2 100%); 
	border-color: #28A6C2;
	box-shadow: 2px 3px 20px 7px rgba(95, 145, 170, 0.9);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73b1e7', endColorstr='#87bcea',GradientType=1 ); 
}
#base 
{
	background-color: #0085A5;
	box-shadow: 7px 3px 6px 0px rgba(0, 0, 0, 0.6);
	height: 22px;
	margin: 0 auto;
	width: 85px;
}
#pata_izquierda
{
	background-color: #808080;
	box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.6);
	height: 162px;
	margin-left: 268px;
	position: absolute;
	width: 8px;
}
#pata_derecha 
{
	background-color: #808080;
	box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.6);
	height: 212px;
	margin-left: 290px;
	width: 8px;
}

